
/* Set overall page structure */
.page-container {
     border: 3px solid red;
     display: grid;
     grid-template-areas:
          "header header"
          "sidebar content";
     grid-template-columns: auto 1fr;
     grid-template-rows: auto 1fr;
}

.header-container {
     border: 3px solid black;
     grid-area: header;

     display: flex;
     height: 100rem;
}

.header-item {
     height: 30rem;
}

.sidebar-container {
     grid-area: sidebar;
     border:  2px solid yellow;
}

.sidebar-container > div{
     height: 50rem;
     border: 1px solid ;
}

.projects :nth-child(n){
     height: 20rem;
}


.content-container {
     grid-area: content;
}
